.login {
  width: 100%;
}

.login-card {
  max-width: 420px;
  margin: 2rem auto;
  width: 100%;
  box-sizing: border-box;
}

.login-card form {
  width: 100%;
}

.login-card input {
  width: 100%;
  box-sizing: border-box;
}
